body {
    background: #C5D0E6;
}

.banner {
    height: 500px;
    background: url("../img/bg.jpg") no-repeat center / cover;
}

 main .container {
     margin: 50px auto 50px;
 }

 .card, .list-group {
     margin-bottom: 20px;
 }

footer div {
     margin: 0 auto;
 }

 .logo-img {
     width: 80px;
 }
